
header {
  font-size: 25px;
  background-color:#ecc6d9;
  padding:60px;
  height:200px;
}


$brand-primary:#c2c2a3;
$nav-background: #FFFFFF;
$link-color:#3d3d29;
$link-hover: $brand-primary;
$link-active: darken($link-color,50%);



body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #FFFFFF;
}

nav {
  background: $nav-background;
  border-bottom: 1px solid #EBEBEB;
  padding: 1em;
  ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    li {
      text-align: center;
      padding: 1em;
      a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Arvo'; 
        color: $link-color;
        &:hover {
          color: $link-hover;
        }
      }     
      &.active{
        a{
          color: $link-active;
        }
      }
    }
  }
}
#menu-toggle {
  opacity: 0;
}
#menu-toggle:checked ~ #menu {
  display: flex;
}
#menu-icon {
  position: relative;
  float: right;
  span{
    display: block;
    background: $brand-primary;
    width: 24px;
    height: 3px;
    margin: 4px;
    border-radius: 3px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 750px) {
  nav {
    padding: 0em;
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 1.5em;
      }
    }
  }
  #menu-toggle,
  #mobile-menu-label {
    display: none;
  }

  #mobile-menu-label {
    padding: 1.5em 1em;
  }
}

.wrap {
  margin: 0 auto;
  text-align: center;
  background-color:white;
}
.image{
  height:700px; 
  background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.5)), url('https://ak6.picdn.net/shutterstock/videos/26525876/thumb/1.jpg') center center/cover;
  padding: 90px 40px;
  background-attachment:fixed;
  background-size:cover;
  }
  h1 {
    font-weight: 50px;
    font-size: 4rem;
    color:#f2e6ff;
    padding: 3rem 0;
    margin-left: 50px;
    font-family: 'Arvo'; 
  }
.button {
  color: white;
  padding: 20px 30px;
  font-weight: bold;
  text-decoration: unset;
  text-transform: uppercase;
  background:#ffcc;
  letter-spacing: 3px;
  border-radius: 0px;
  margin-top:30px;
  margin-left:34px;
}
.main-content{
	padding:40px 0;
}
#contact a{
	color:#FF7733;
}
 h2{
 	font-weight:600;
 	font-size: 49px;
   font-family: 'Roboto';
   margin:  70px ;
 }
 #about{
  background:#b8b894;
  height: 400px ;
  padding:20px 0;
  color:white;
  text-align: center;
  margin: 20px 0;
}

#about p{
  font-size: 19px;
  text-align: center;
  font-family:'Arvo';
  color:white;
  margin:20px 2; 
}
.nparagraph {
  background-color: #fff;
  padding: 3%;
  margin-top: 3%;
  border-radius: 5px;
}


.item {
  width: 200px;
  height: 100px;
  background-color: #fefefe;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  padding-top: 2rem;

}
h1 {
  font-weight: 50px;
  font-size: 4rem;
  color:#f2e6ff;
  padding: 3rem 0;
  margin-left: 50px;
  font-family: 'Arvo';
  
}
.subheading {
  font-size: 1.5rem;
  padding: 1rem 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
  line-height: 1.5;
  display: inline-block;
}
p {
	font-size: 25px;
	color:#6A798C;

	line-height: 24px;
	margin: 0 0 9px;
  margin-bottom: 10px;
  font-family: 'Arvo';
  padding:15px;
  margin:30px;
  
}
.Categories{
  font-size:20px;
}

.home{
  font-weight: 20px;
  font-size: 4rem;
  color:#8679;
  padding: 3rem 0;
  margin-left: 50px;
  font-family: "Roboto";
  line-height: 1.25;
  font-size:32px;
  font-size:2rem;    
  margin:2em auto 0.5em;
  background-color:white;
  margin: 0 0 5px;  
  text-align: center;
  
}
  
::selection {
    color: #fff;
    background-color: #FA6262;
}
.section-wrap {
	padding: 100px 0;
	padding-bottom: 100px;
	position: relative;
	background-size: cover;
  background-position: center;
 margin-top: 100px;
}
.justify-content-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  
}
.title-row {
	margin-bottom: 48px;
	position: relative;
}
h3{
  font-size:400px;

}

.button1 {
  color: white;
  padding: 12px 15px;
  font-weight: bold;
  text-decoration: unset;
  text-transform: uppercase;
  background:#b8b894;
  letter-spacing: 0px;
  border-radius: 0px;
  margin-right:80px;
  
  
  
}

.feature {
	z-index: 1;
	padding: 48px 40px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
	background-color: #fff;
}
.feature__title {
	font-size: 26px;
  margin-bottom: 18px;
  font-family:"Times New Roman";
  text-transform: uppercase;
  color:#5c5c3d;
  text-align: center;
}
.feature__text {
  margin-bottom: 0;
  color:#b8b894;
  font-size: 17px;
  font-family:"Times New Roman";
  text-align: center;
}
.feature__icon1 {
	width: 72px;
	height: 72px;
	display: inline-block;
  margin-bottom: 24px;
  color:#ff66a3;
  
}
.feature__icon2 {
	width: 72px;
	height: 72px;
	display: inline-block;
  margin-bottom: 24px;
  color:#0073e6;
  
}
.feature__icon3 {
	width: 72px;
	height: 72px;
	display: inline-block;
  margin-bottom: 24px;
  color:#5c5c3d;
  
}
.feature__icon4 {
	width: 72px;
	height: 72px;
	display: inline-block;
  margin-bottom: 24px;
  color:#993333;
  
}
.feature__icon5 {
	width: 72px;
	height: 72px;
	display: inline-block;
  margin-bottom: 24px;
  color:#ffcc00;
  
}
.feature__icon6 {
	width: 72px;
	height: 72px;
	display: inline-block;
  margin-bottom: 24px;
  color:#d6d6c2;
  
}
.box-shadow {
	box-shadow: 0 1px 6px rgba(60, 7, 78, 0.15);
}
.hover-up {
	top: 0;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.hover-up:hover {
	box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
	top: -2px;
}
.hover-line:hover::before {
	width: 100%;
}
.hover-line::before {
	content: '';
	display: block;
	height: 5px;
	width: 0;
	position: absolute;
	left: 0;
	top: 0;
	background-color:#b8b894;
	transition: all 0.2s ease-in-out;
}
svg {
	fill:rgb(188, 122, 221);
}

.grid{
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
}
h1{
  text-align: center;
  font-size: 70px;
}
footer{
  display: grid;
  grid-template-columns: 1fr;
  background-color:#b8b894;
  .footer-bottom{
    width:100%;
    height: 100px;
    display: grid; 
    grid-template-columns: 1fr 200px;
    margin: 10px 0 0 0;
  }
}
.footer{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.center {
  display: grid;
  grid-template-columns: 50% 50%;

  img {
    width: 80%;
    height: auto;
  }
}
.form{
display:inline;

}
input{width:80%;
  height:30px;
  margin:5px;
  
}
//footer bottom
a {
  text-decoration:none;
}
a svg rect {
  stroke: #eeeeee;
  stroke-width: 4;
  fill: #eeeeee;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a svg path {
  fill: #000000;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover svg rect {
  stroke-width: 50;
  stroke: #710000;
}
a:hover svg path {
  fill: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.team-section {
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
}
.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}
.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}
.ps {
  margin-bottom: 40px;
}
.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  margin: 0 30px;
  overflow: hidden;
  border-radius: 50%;
}
.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.ps a:hover > img {
  filter: none;
}
.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
.webo {
  font-size: 19px;
  color:#c2c2a3;
  
  
}
.section:target {
  height: auto;
}


